<% content_for :subheader do %>
  <h1><%= @static_page.title %></h1>
<% end %>

<div class="grid_9" data-hook="page_show_content">
	<% @static_page.images.each do |image| %>
  	<div class="page_image_container four columns">
  	    <%= image_tag image.attachment.url %>	  
  	</div>
	<% end %>
	<div class="eight columns">
	<%= raw(@static_page.body) %>
	</div>
</div>